#### Import libraries

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import string

#### Read file

In [2]:
df = pd.read_csv('C:/Users/AFERRERO/Desktop/Alejandro/MASTER/TFM/nadal.csv')
#Only in english
df = df[df['lang']=='en']

In [3]:
df.head()

,created_at,id,text,user,lang
0,Tue Feb 08 15:06:11 +0000 2022,1.491066e+18,Hey all @FanJoltLive is launching today w/give...,344634424.0,en
1,Thu Feb 03 16:16:15 +0000 2022,1.489272e+18,Roger. You book the practice court? Or is it m...,344634424.0,en
2,Wed Feb 02 18:46:22 +0000 2022,1.488947e+18,Thanks to the fans and to those that have supp...,344634424.0,en
4,Sun Jan 16 04:34:24 +0000 2022,1.482572e+18,"Chris, all the best to you and get well! And I...",344634424.0,en
5,Sat Jan 15 05:45:43 +0000 2022,1.482227e+18,"This year, @Kia_Worldwide will turn ocean wast...",344634424.0,en

#### Transform twitter date to python datetime

In [5]:
def twitter_date_to_datetime(twitter_date):
    return datetime.strptime(twitter_date,'%a %b %d %H:%M:%S +0000 %Y')

In [6]:
df['created_at'] = df['created_at'].apply(twitter_date_to_datetime)

In [7]:
df.head()

,created_at,id,text,user,lang
0,2022-02-08 15:06:11,1.491066e+18,Hey all @FanJoltLive is launching today w/give...,344634424.0,en
1,2022-02-03 16:16:15,1.489272e+18,Roger. You book the practice court? Or is it m...,344634424.0,en
2,2022-02-02 18:46:22,1.488947e+18,Thanks to the fans and to those that have supp...,344634424.0,en
4,2022-01-16 04:34:24,1.482572e+18,"Chris, all the best to you and get well! And I...",344634424.0,en
5,2022-01-15 05:45:43,1.482227e+18,"This year, @Kia_Worldwide will turn ocean wast...",344634424.0,en

# TODO: include all cleaning functions in a different module with its corresponding tests

In [8]:
import re

In [9]:
def remove_urls(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

In [11]:
remove_urls('Check out https://google.es')

'Check out '

#### ----------------------------------------------------------------------------------------------

In [12]:
#not adding remove html tags as i don't see any in the example

#### ----------------------------------------------------------------------------------------------

In [16]:
# Legally stolen from https://gist.github.com/slowkow/7a7f61f495e3dbb7e3d767f97bd7304b
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [22]:
remove_emoji('Roger. You book the practice court? Or is it me? 😉looking forward to playing again with you my friend! 💪🏻👏🏻')

'Roger. You book the practice court? Or is it me? looking forward to playing again with you my friend! '

#### ----------------------------------------------------------------------------------------------

In [27]:
# Legally stolen from https://stackoverflow.com/questions/265960/best-way-to-strip-punctuation-from-a-string
def remove_punct(text):
    return text.translate(str.maketrans('','',string.punctuation))

In [28]:
remove_punct('Data cleaning in #twitter is a pain in the @ass!!')

'Data cleaning in twitter is a pain in the ass'

#### ----------------------------------------------------------------------------------------------